<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Match is About to Start</p>
<p>
  A match you follow is about to start:<br>
  --------------------------
</p>
<p>Team 1: <%= @match.team_1.name %></p>
<p>Team 2: <%= @match.team_2.name %></p>
<p>Tournament: <%= @match.tournament.title %></p>
<p>Time: <%= @match.date %></p>
<p><br>
  ----------
</body>
</html>